.header-cont {
    background-image: linear-gradient(180deg, rgb(42, 83, 218), rgb(255, 221, 0), rgb(217, 142, 55));
    padding: 10px;
    color: white;
    text-shadow: 3px 3px rgb(62, 62, 62);
}

.five-day-forecast-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.icon-img {
    width: 100px;
    height: 100px;
}

.input-group-text {
    color: white;
    background-color: rgb(84, 114, 215);
}

#forecastSection {
    display: inline-block;
}